/***************
*              *
*     RESET    *
*              *
****************/

/*Box Sizing Reset*/
html
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after
{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***************
*              *
*    General   *
*              *
****************/

body
{

}
div
{
  width: 6.25em; /*100px / 16px*/
  height: 6.25em; /*100px / 16px*/
}

/***************
*              *
*    Fonts     *
*              *
****************/

.links
{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

/***************
*              *
*  Navigation  *
*              *
****************/

.header
{
  position: fixed;
  top: 0;
  width: 100%;
}
.top-navigation
{
  background-color: #fff;
}
.content
{
  padding: 0 15px;
}
.top-navigation > .content
{
  border: 1px solid #000;
  width: 60.625rem; /*970px / 16px*/
  height: 4.375rem; /*70px / 16px*/
  margin: 0 auto;
}
.top-navigation .logo
{
  height: 70px;
}
.top-navigation .links
{
  float: right;
  margin-top: 25px;
}
.top-navigation .links li
{
  display: inline-block;
  margin-left: 10px;
}
.top-navigation .links .active
{
  color: #4c5058;
  font-weight: 600;
}

.top-navigation .links li:hover
{
  color: #4c5058;
  cursor: pointer;
  -webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
/*Intro Image*/
.intro
{
  position: relative;
  width: 100%;
  height: 615px;
  top: 100px;
}
.feat
{
  position: relative;
  width: 100%;
  top: 100px;
}
.footer
{
  position: relative;
  width: 100%;
  top: 100px;
}